html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Optional smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Mantine override for Papers */
[data-mantine-color-scheme="dark"] .mantine-Paper-root {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
